{% extends 'base.html.twig' %}
{% block body %}
    <div class='mainposts'>
        <div id='mainpostswrap'>

            {% if form %}
                {{ form_start(form) }}
                {{ form_row(form.text) }}
                <button type="submit">Submit</button>
                {{ form_end(form) }}
            {% endif %}

            {% for post in posts %}
                <div class='subpostsDescription'><a href='/user/{{ post.userId }}'>{{ post.username.username }}</a>
                    {{ post.createdTime }}
                </div> {{ post.text }}
                {% for subpost in subposts %}
                    <div class='subposts'>
                        <div class='subpostsuser'>
                            <a href='/user/{{ subpost.userId }}'>{{ subpost.username.username }}</a>
                            {{ subpost.createdTime }}
                        </div>
                        <div class='subpostscontentwrap'>
                            <div class='subpoststext'>{{ subpost.text|nl2br }}</div>
                        </div>
                    </div>
                {% endfor %}

            {% endfor %}
        </div>
    </div>
{% endblock %}