{% extends 'base.html.twig' %}
{% block body %}

    {% if form %}
        {{ form_start(form) }}
        {{ form_row(form.text) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }}
    {% endif %}

    {% for post in posts %}
        <div><div class='mainposts'><a href='/posts/{{ post.id }}'>{{ post.text }}</a>
        <div class='subpostsDescription'>{{ post.createdTime }} - Replies: {{ post.countSubPosts }} </div>
        </div></div>
    {% endfor %}

{% endblock %}