{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Register!</button>
    {{ form_end(form) }}

        {% for inputs in input %}
            {{ inputs|raw }}<br>
        {% endfor %}

{% endblock %}