{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Submit</button>
    {{ form_end(form) }}

        {% for messages in message %}
            {{ messages|raw }}<br>
        {% endfor %}

{% endblock %}